/* Centers Page */
* {
  box-sizing: border-box;
  
}
/* Sets div within div in center page */
#center{
    margin: 0 auto;
    width: 960px;
}

/* sets background in container div */
#container {
    background-image: url("../images/concrete-texture.png");
    
}


/* used flex box to align div within divs */
#header {
    width: 100%;
    border: 1px solid #ccc;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#jaime {
    color: white;
    padding: 20px 20px;
    background-color: #4aaaa5;
    font-weight:      bold;
    font-family: 'Georgia', Times, Times New Roman, serif; 
    font-stretch: ultra-expanded;
    font-size: 24px;
}

#footer {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #666;
    clear: both;
    padding: 10px 10px;
    border-top: solid 5px #4aaaa5;
}

#content {
    width: 650px;
    float: left;
    text-align: left;
    padding: 20px 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    overflow: scroll;
}

#sidebar {
    width: 270px;
    float: left;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: 40px;
    padding-left: 5px;
    padding-right: 5px;
}


img {
    margin: 18px 18px;
    float: left;
    
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif; 
}

p {
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: teal;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container {
    padding: 20px;
}

label {
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#folders {
    display: inline-block;
    margin: auto;
    border: 3px solid #4aaaa5; 
    width: 200px;
    margin-left:60px;
    margin-top: 10px;
}

a {
    font-size: 16px;
    text-decoration:  none;
}

a:link { color: grey; }
a:visited { color: grey; }
a:hover { color: purple; }
a:active { color: lavender; }
img:hover { background-color: #4aaaa5; }

